<section class="section">
{{!// create a post}}
<div class="tile is-ancestor">
  <div class="tile is-half is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title">Find A Dog Date</p>
      <div class="field">
  <label class="label">Pup Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input" value="">
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email input" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </div>

</div>

<div class="field">
  <label class="label">About Your Pup</label>
  <div class="control">
    <textarea class="textarea" placeholder="Text area"></textarea>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
  <div class="control">
    <button class="button is-link is-light">Cancel</button>
  </div>
</div>
    </div>

{{!// where posts populate}} 
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">Blog</p>
      <article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="{{image}}">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{name}}</strong>
        <p>{{email}}</p>
        <br>
        {{content}}
        <br>
        <small><a>Like</a> · <a>Reply</a></small>
      </p>
    </div>

    <article class="media">
      <figure class="media-left">
        <p class="image is-48x48">
          <img src="{{image}}">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{username}}</strong>
            <br>
            {{comment}}
            <small><a>Like</a> · <a>Reply</a></small>
          </p>
        </div>

<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="{{image}}">
    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea class="textarea" placeholder="Add a comment..."></textarea>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button">Post comment</button>
      </p>
    </div>
  </div>
</article>
    </div>
    
  </div>
</div>

</section>

<script src="/js/newPost.js"></script>